
/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

@keyframes changeShape {
  from {
    background-color: lightslategray;
    border-radius: 20px;
    transform: scale(.5) skewX();
  }
  to {
    background: lightsalmon;
    border-radius: 100px;
    transform: scale(1);
  }
}

@keyframes changeColor {
  0% {
    background-color: lightslategray;
  }
 33% {
    background: rgb(204, 133, 105);
  }
  100% {
    background: rgb(197, 56, 0);
  }
}

@keyframes enlarge {
  0% {
    width: 200px;
  }

  100% {
    width: 400px;
  }
}

.box {
margin: 10px;
display: block;
float: left;
}

.box1 {
width: 200px;
height: 200px;
animation-name: changeShape;
animation-duration: 2s;
animation-fill-mode: backwards;
animation-iteration-count: 10;
animation-play-state: paused;
}

.box1:hover {
animation-play-state: running;
}

.box2 {
width: 200px;
height: 200px;
background: lightskyblue;
/* animation-name: changeColor;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-iteration-count: infinite; */
animation: changeColor 3s linear forwards 5, enlarge 3s ease 5;
/*conbine two animation*/

}

.box3 {
width: 200px;
height: 200px;
background: lightpink;
animation-name: enlarge;
animation-duration: 1s;
animation-iteration-count: 4;
animation-direction: alternate;
animation-fill-mode: both;
}

.cat {
width: 350px;
height: 380px;
margin: 0 auto;
background: url(img/25.png);
animation: walk 2s steps(9) 5;
clear: both;
}

@keyframes walk {
  0% {
   background-position: left top;
  }

  100% {
    background-position: -2500px;
  }
}
