
/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

body > #stick {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
// #app {
// 	dis
// }

#head {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: none;
	border: 5px solid #000;
	display: flex;
	flex-direction: column;
}

#head > div {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#eyes {
		align-items: bottom;
}
.eye {
	margin-top: 40%;
	vertical-align: middle;
	width: 5%;;
	height: 10%;
	border-radius: 50%;
	// background-color: none;
	background-color: #000;
	border: 5px solid #000;
}

.mouth {
	width: 30px;
	height: 4px;
	background: #000;
}


.mouth.v-2 {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 5px solid #000;
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
}

.mouth.v-3 {
	margin-top: 20%;
	width: 20px;
	height: 15px;
	border-radius: 50%;
	border: 5px solid #000;
	// border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	background: blue;
}

.eye.monocle {
	background: #d3d3d3;
	height: 20px;
	width: 20px;
	// border: none;
	border: 2px solid #000;
}

#body {
	height: 100px;
	width: 5px;
	background: #000;
}

.body-container {
	width: 100px;
	display: flex;
	
}

#left-arm, #right-arm {
	background: #000;
	width: 45px;
	height: 5px;
	margin-top: 30%;
}

#left-leg, #right-leg {
	background: #000;
	width: 45px;
	height: 5px;
	margin-top: 90px;
}

#left-leg {
	transform: translateX(5px) rotate(330deg);
}
#right-leg {
	// transform: rotate(30deg);
	transform: translateX(-5px) rotate(30deg);
}

// #right-arm {
// 	background: #000;
// 	width: 45px;
// 	height: 5px;
// }

.tree {
    margin: 0 auto;
    text-align: center;
    width: 586px;
}

.top {
	width: 330px;
	height: 300px;
	border-radius: 100%;
	text-align: center;
	display: block;
	margin: 0 auto;
	background: #cdeb8e; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #cdeb8e 0%,#a5c956 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.trunk {
	width: 175px;
	height: 380px;
	position: relative;
	display: block;
	margin: 0 auto;
	bottom: 20px;
	z-index: -1;
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px;
}

.trunkTwo {
	position: relative;
	bottom: 392px;
	z-index: -1;
}

.off {
	position: relative;
	left: -35px;
}

.offTwo{
	position: relative;
	left: 35px;
}

.column {
	background: #a0937a; /* Old browsers */
	background: -moz-linear-gradient(left,  #a0937a 0%, #75470f 50%, #a0937a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a0937a), color-stop(50%,#75470f), color-stop(100%,#a0937a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #a0937a 0%,#75470f 50%,#a0937a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #a0937a 0%,#75470f 50%,#a0937a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #a0937a 0%,#75470f 50%,#a0937a 100%); /* IE10+ */
	background: linear-gradient(to right,  #a0937a 0%,#75470f 50%,#a0937a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0937a', endColorstr='#a0937a',GradientType=1 ); /* IE6-9 */
	width: 11px;
	height: 380px;
	position: inherit;
	display: inline-block;
	margin: 0 1px;
}

.rotate {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}

.overRotate {
 	-webkit-transform: rotate(-3deg);
 	transform: rotate(-3deg);
 	height: 370px;
}

.overRotateA {
 	-webkit-transform: rotate(-6deg);
 	transform: rotate(-6deg);
 	height: 370px;
}

.overRotateB {
 	-webkit-transform: rotate(-9deg);
 	transform: rotate(-9deg);
 	height: 370px;
}

.overRotateC {
 	-webkit-transform: rotate(3deg);
 	transform: rotate(3deg);
 	height: 370px;
}

.overRotateD {
 	-webkit-transform: rotate(6deg);
 	transform: rotate(6deg);
 	height: 370px;
}

.overRotateE {
 	-webkit-transform: rotate(9deg);
 	transform: rotate(9deg);
 	height: 370px;
}

.overRotateF {
 	-webkit-transform: rotate(7.5deg);
 	transform: rotate(7.5deg);
 	height: 370px;
}

.overRotateG {
 	-webkit-transform: rotate(-7.5deg);
 	transform: rotate(-7.5deg);
 	height: 370px;
}

.row {
	display: inline-block;
	position: relative;
	padding: 4px 5px 5px 3px;
}

.rowOne {
	display: inline-flex;
	top: 37px;
	left: 133px;
}

.rowTwo {
	right: 45px;
}

.rowThree {
	top: 23px;
	right: 3px;
}

.rowFour {
    right: 41px;
}

.rowFive {	
	bottom: 25px;
	left: 178px;
}

.rowSix {	
	bottom: 24px;
	right: 50px;
}

.xLarge {
	background: #AFB97C;
	border: 10px solid #7E9D74;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	display: inherit;
	vertical-align: middle;
	margin: 0 1px;
}

.medium {
	background: #E5FCB8;
	border: 3px solid #A3C856;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	display: inherit;
	vertical-align: middle;
	margin: 0 1px;
}

.large {
	background: #B4A08F;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	display: inherit;
	vertical-align: middle;
	position: relative;
}

.small {
	background: #556910;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	display: inherit;
	vertical-align: middle;
	position: relative;
	margin: 0 10px;
	opacity: 0.4;
}
